

.loading{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 110;
  background: #000;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  /*display: none;*/
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 10rem;
  line-height: 1;
  color: #e9cc6c;
}
.warp{
  display: none;
}
.pace-done .warp{
  display: block;
}
.pace-done.oauthOk .loading{
  display: none;
}
