//**
// Project Settings
//**



// PSD width height
$width: 750;
$height: 1218;

$wq1:595;
$hq1:1015;

$Sw:1000;
$Sh:585;

@mixin iconSprite ($X,$Y,$W,$H) {
    width:$W/100+rem;
    height:$H/100+rem;
    background-image:url(../images/sprite.png);
    background-repeat:no-repeat;
    background-position:$X/(54-$W)*100% $Y/(27-$H)*100%;
    background-size:54/$W*100% 27/$H*100%;
};

@mixin optionSprite ($X,$Y,$W,$H) {
    background-image:url(../images/sprite.png);
    background-repeat:no-repeat;
    background-position:$X/(54-$W)*100% $Y/(27-$H)*100%;
    background-size:54/$W*100% 27/$H*100%;
};

@mixin imgWH ($W,$T,$TV,$P,$PV) {
    width:$W/$width*100%;
    @if $T == 'top' {
	    top:$TV/$height*100%;
    }@else{
    	bottom:$TV/$height*100%;
    }
    @if $P == 'left' {
    	left:$PV/$width*100%;
    }@else{
    	right:$PV/$width*100%;
    }
};

@mixin imgWH_qtion ($W,$T,$TV,$P,$PV) {
    width:$W/$wq1*100%;
    @if $T == 'top' {
	    top:$TV/$hq1*100%;
    }@else{
    	bottom:$TV/$hq1*100%;
    }
    @if $P == 'left' {
    	left:$PV/$wq1*100%;
    }@else{
    	right:$PV/$wq1*100%;
    }
};

// Base Font
$base-font-family: STHeiti,'Lucida Grande','Lucida Sans Unicode','Hiragino Sans GB','Lucida Grande','Microsoft YaHei',arial;
