//animated default
.animated{
  animation-duration: .6s;
  transform: translate3d(0, 0, 0);
}


@for $i from 0 through 15{
  .delay#{$i}{
    animation-delay: $i*0.2s;
  }
}

@for $i from 0 through 15{
  .time#{$i}{
    animation-duration: $i*0.2s;
  }
}

.origin-tc{
  transform-origin:top center;
}
.origin-rb{
  transform-origin:right bottom;
}
.origin-lb{
  transform-origin:left center;
}
.origin-cb{
  transform-origin:center bottom;
}
.origin-cc{
  transform-origin:center center;
}

.iteration {
  animation-iteration-count: infinite;
}
.ease-in{
  animation-timing-function: ease-in;
}
.ease-out{
  animation-timing-function:ease-out;
}


// animate css

@keyframes fadeInUp2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp2 {
  animation-name: fadeInUp2;
}
//////////////
//新建样式动画
@keyframes floatUp {
  from {
    //opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    //opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
}
.floatUp {
  animation-name: floatUp;
  animation-timing-function: ease-in-out;
  animation-direction:alternate;
}


@keyframes stick {
  from {
    transform: rotateZ(-10deg);
  }

  to {
    transform: rotateZ(15deg);
  }
}
.stick {
  animation-name: stick;
  animation-timing-function: ease-in-out;
  animation-direction:alternate;
  transform-origin: center bottom;
}


@keyframes myrotate {
  from { transform:rotate(0deg);}
  100% { transform:rotate(360deg);}
}

.myrotate {
  animation: myrotate 5s linear 0s infinite normal;
  transform-origin:center center;
  animation-fill-mode: both;
}
