//**
// Form Elements
//**

::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff;
}

input,select {
  -webkit-appearance: none;
  outline:none;
  border:none;
  border-radius: 0;
  padding:0;
}

.input-text {
  display: block;
  width:100%;
  font-size:2.4rem;
  color: #000;
  line-height:3;
  text-align: center;
  background-color: #fff;
  border:1px solid #000;
}

.input-btn {
  display: block;
  width:100%;
  font-size:2.4rem;
  color: #fff;
  line-height:3;
  text-align: center;
  background-color: #a8a6a7;
  &[disabled] {
    color: #aeafb0;
    background-color: #f2f3f4;
    opacity:1;
  }
}

.input-submit {
  display: block;
  width:100%;
  height:100%;
  border:none;
  outline:none;
  background-color: transparent;
  font-size:2.5rem;
}

.has-error {
  position: absolute;
  left:0;
  bottom: -30/$inputBox-h*100%;
  width:100%;
  height: 30/$inputBox-h*100%;
  margin:0;
  font-size:1.6rem;
  color: #fff;
  line-height:1;
  text-align: center;
}
