//**
// Other Useful Reusable Styles
//**

* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
// -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   -webkit-font-smoothing: antialiased !important;//属性可以使页面上的字体抗锯齿,使用后字体看起来会更清晰舒服。
//   -webkit-touch-callout: none;//在iOS上，当你触摸并按住触摸的目标，比如一个链接，Safari浏览器将显示链接有关的系统默认菜单。这个属性可以让你禁用系统默认菜单。

video::-webkit-media-controls {
  opacity: 0;
}

.list-none {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.table-full{
  display: table;
  width: 100%;
  height: 100%;
  .td-m{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center;
  }
}

.ie_a {
  position:absolute;
  background:#fff;
  opacity:0;
  filter:alpha(opacity=0);
}

img,
video,
audio,
iframe,
object {
  max-width: 100%;
  vertical-align: middle;
}

.js-dn {
  display: none;
}

//hide and clean animate
.js-an {
  animation-name: none !important;
  display: none !important;
}
