//**
// Homepage
//**

body {
  font-family: $base-font-family;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  background-color: #000;
}

html, body {
  position: relative;
  height: 100%;
  font-size: 16px;
  // overflow:hidden;
}
img{max-width:100%;}
p{
  margin:0;padding:0;
}
.u-bg{
  position: relative;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  max-width: $width+px;
  margin: 0 auto;
}

.swiper0{
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.swiper-container{
  height: 100%;
}


.warp{
  position: relative;
  height: 100%;
  max-width: $width+px;
  margin: 0 auto;
  text-align: center;
}
.clearfix:after{
     clear:both;
}
.clearfix:before ,.clearfix:after {
     content: "\0020";
     display: block;
     height: 0;
     overflow: hidden;
}

.share-default{
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  top: -1px;
}

.horizontal-tip {
  position: fixed;
  z-index: 120;
  width: 100%;
  height: 100%;
  background-color: #303030;
  font-size: 4.5em;
  color: white;
  top: 0;
  left: 0;
}
@media all and (orientation:portrait) {
  .horizontal-tip {
    display: none;
  }
}

@media screen and (max-aspect-ratio: 13/9) {
  .horizontal-tip {
    display: none;
  }
}

.warp{
  // background:url('../images/acuvue/bg.jpg') no-repeat;
  // background-size:auto 100%;
}

.rel{position: relative;}
.abs{position: absolute;}
.fixed{position: fixed;}
.center{left:50%;transform:translate3d(-50%,0,0);}
.js-none{display:none;}

ul{margin:0;padding:0;}
li{position: relative;display:block;list-style:none;}

input{
  // width:100%;
  font-size:26/100+rem;
  border:0;outline:none;
}