.warp {
    // opacity:0;
    background: url('../images/n/bg1.jpg') top center no-repeat;
    background-size:cover;
}
.warp.active{
    background: url('../images/n/bg2.jpg') top center no-repeat;
    background-size:cover;
}

.ctxBox {
    width: 100%;
    top: 52%;
    transform: translate3d(-50%, -50%, 0);
}

.page1 .ctxBox {
    top: 45%;
}

.page2 .ctxBox {
    top: 40%;
}

.gs {
    bottom: 0;
}

.page1 {
    .logo {
        width: 300/$width*100%;
    }
    .title {
        width: 486/$width*100%;
        margin-bottom: 1rem;
        padding-top: 0.8rem;
    }
    .proBox {
        display: flex;
        .pro {
            flex: 1;
            margin: 0 2.5%;
        }
        .page1Bg {
            width: 100%;
            top: -3%;
            z-index: -1;
        }
    }
    .applyBtn {
        width: 275/$width*100%;
        margin: 0.5rem 0 0.1rem;
    }
    .rule {
        width: 277/$width*100%;
        &.active::before {
            content: '';
            display: block;
            position: absolute;
            width: 0.2rem;
            height: 0.15rem;
            top: 50%;
            left: 0;
            transform: translate3d(0, -50%, 0);
            background: url('../images/n/icon.png') no-repeat;
            background-size: cover;
        }
        i {
            position: absolute;
            width: 1rem;
            height: 100%;
            right: 0;
        }
    }
    .ruleBox {
        width: 100%;
        height: 100%;
        top:0;
        background: rgba(0, 0, 0, 0.6);
    }
    .ruleBox>div {
        position: absolute;
        width: 664/$width*100%;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    .page1BtnBox{
        width:100%;
        bottom:10%;
    }
}

.page2 {
    height: 100%;
    // margin-bottom: 25px;
    .page2Logo{
        width:397/$width*100%;
        margin-bottom:85/100+rem;
        padding-top:1rem;
    }
    .page2Title {
        width: 486/$width*100%;
    }
    .formBox {
        width: 540/$width*100%;
        margin-top: .9rem;
        color: #ffdaba;
        input,
        select {
            background: transparent;
            color:#ffdaba;
            font-size: 0.3rem;
        }
        span{
            color:#ffdaba;
        }
        input {
            width: 50%;
        }
        select option {
            color: #000;
        }
        .flexChild {
            margin-bottom: 0.35rem;
            padding-bottom: 0.1rem;
            text-align: left;
            font-size: 0.3rem;
            border-bottom: 1px solid #ffdaba;
        }
        .flexBox {
            display: flex;
            .flexChild {
                display: inline-flex;
                flex: 1;
                width: 50%;
                height: 50/100+rem;
            }
        }
        .flexChild.code {
            float: left;
            // display: inline-block;
            vertical-align: top;
            width: 55%;
        }
        .nameVal {
            margin-left: 24%;
        }
        .phoneVal {
            margin-left: 18%;
        }
        .codeVal {
            width: 65%;
            text-align: center;
            font-size: 0.3rem;
        }
        .codeImg {
            float: right;
            // display: inline-block;
            vertical-align: top;
            width: 40%;
            height: 0.5rem;
            line-height: 0.5rem;
            border: 1px solid #ffdaba;
        }
        .flexChild.city_secB {
            margin-right: 5%;
        }
        .secBox {
            .province_secB,
            .city_secB,
            .store_secB {
                position: relative;
                display: inline-flex;
                // width: 50%;
                // height: 42/$height*100%;
                text-align: left;
            }
            .p_area {
                flex: 1;
                display: inline-block;
                width: 100%;
                // border: 1px solid #4d4d4d;
                // border-bottom: 1px solid #fff;
                border-radius: 4px;
            }
            .p_sec {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                line-height: 0.5rem;
                // padding-left: 30%;
                text-align: center;
                -webkit-appearance: none;
                border: none;
                outline: 0;
            }
            .arrowBg {
                position: absolute;
                display: block;
                width: 30/100+rem;
                height: 100%;
                right: 0;
                top: 0;
                z-index: 5;
                .arrow {
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 50%;
                    top: 65%;
                    transform: translate3d(-50%, -50%, 0);
                    border: 5px solid #000;
                    border-color: #ffdaba transparent transparent;
                }
            }
        }
    }
    .page2BtnBox {
        display: flex;
        width: 620/$width*100%;
        margin: 0.6rem 0 0.1rem;
        &>div {
            flex: 1;
            margin: 0 2%;
        }
    }
    .privacyBox {
        width: 584/$width*100%;
        &.active::before {
            content: '';
            display: block;
            position: absolute;
            width: 0.2rem;
            height: 0.15rem;
            top: 0%;
            left: 0;
            background: url('../images/n/icon.png') no-repeat;
            background-size: cover;
        }
        i {
            position: absolute;
            display: block;
            width: 1rem;
            height: 50%;
            top: 0;
            left: 28%;
        }
    }
}

.page3 {
    .title {
        width: 486/$width*100%;
        margin-bottom: 0.4rem;
    }
    .shareImg {
        width: 300/$width*100%;
        right: 2%;
        top: 1%;
        z-index: 5;
    }
    .result{
        width:493/$width*100%;
    }
    .searchBtn {
        width: 328/$width*100%;
        margin-top: 0.8rem;
    }
    .resultTxt{
        width: 307/$width*100%;
        margin-top: 0.1rem;
    }
}